# ignore weight and zip file
*.pt
*.zip
*.csv

# tensorboard data log
runs/*

# result file
results/*.csv
results/*.png
results/*txt
results/disruption_phase/*

# weights
weights/*

# dataset
dataset/*